
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #444452;
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
    background-color:#171c28;
}

body.night,
html.night {
    background-color: #171c28;
    color: #afafbf
}

body.night .intro,
body.night a,
html.night a,
html.night strong {
    color: #e7e7e7
}

.intro {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

.intro__hello,
.intro__tagline {
    font-size: 2.0rem
}

@media screen and (max-width:1024px) {

    .intro__hello,
    .intro__tagline {
        font-size: 2.0rem
    }
}

@media screen and (max-width:768px) {

    .intro__hello,
    .intro__tagline {
        font-size: 1.8rem
    }
}

@media screen and (max-width:550px) {

    .intro__hello,
    .intro__tagline {
        font-size: 1.65rem
    }
}

@media screen and (max-width:360px) {

    .intro__hello,
    .intro__tagline {
        font-size: 1.5rem
    }
}

@media screen and (max-width:330px) {

    .intro__hello,
    .intro__tagline {
        font-size: 1.4rem
    }
}

.intro__tagline {
    font-weight: 300;
    max-width: 900px
}

.intro__tagline .name {
    font-weight: 700
}

.intro__contact {
    font-size: 1.5rem;
    font-weight: 400
}

@media screen and (max-width:550px) {
    .intro__contact {
        font-size: 1rem
    }
}

.highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #FFFFFF;
    box-shadow: inset 0 -3px 0 #FFFFFF
}

.highlight-link:hover {
    -webkit-box-shadow: inset 0 -3px 0 0 #007bff;
    box-shadow: inset 0 -3px 0 0 #007bff;
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Light.eot);
    src: url(../fonts/Apercu-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-Light.woff2) format("woff2"), url(../fonts/Apercu-Light.woff) format("woff"), url(../fonts/Apercu-Light.ttf) format("truetype"), url(../fonts/Apercu-Light.svg#Apercu-Light) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-LightItalic.eot);
    src: url(../fonts/Apercu-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-LightItalic.woff2) format("woff2"), url(../fonts/Apercu-LightItalic.woff) format("woff"), url(../fonts/Apercu-LightItalic.ttf) format("truetype"), url(../fonts/Apercu-LightItalic.svg#Apercu-LightItalic) format("svg");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Regular.eot);
    src: url(../fonts/Apercu-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-Regular.woff2) format("woff2"), url(../fonts/Apercu-Regular.woff) format("woff"), url(../fonts/Apercu-Regular.ttf) format("truetype"), url(../fonts/Apercu-Regular.svg#Apercu-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Italic.eot);
    src: url(../fonts/Apercu-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-Italic.woff2) format("woff2"), url(../fonts/Apercu-Italic.woff) format("woff"), url(../fonts/Apercu-Italic.ttf) format("truetype"), url(../fonts/Apercu-Italic.svg#Apercu-Italic) format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Medium.eot);
    src: url(../fonts/Apercu-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-Medium.woff2) format("woff2"), url(../fonts/Apercu-Medium.woff) format("woff"), url(../fonts/Apercu-Medium.ttf) format("truetype"), url(../fonts/Apercu-Medium.svg#Apercu-Medium) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-MediumItalic.eot);
    src: url(../fonts/Apercu-MediumItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-MediumItalic.woff2) format("woff2"), url(../fonts/Apercu-MediumItalic.woff) format("woff"), url(../fonts/Apercu-MediumItalic.ttf) format("truetype"), url(../fonts/Apercu-MediumItalic.svg#Apercu-MediumItalic) format("svg");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Bold.eot);
    src: url(../fonts/Apercu-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-Bold.woff2) format("woff2"), url(../fonts/Apercu-Bold.woff) format("woff"), url(../fonts/Apercu-Bold.ttf) format("truetype"), url(../fonts/Apercu-Bold.svg#Apercu-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-BoldItalic.eot);
    src: url(../fonts/Apercu-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/Apercu-BoldItalic.woff2) format("woff2"), url(../fonts/Apercu-BoldItalic.woff) format("woff"), url(../fonts/Apercu-BoldItalic.ttf) format("truetype"), url(../fonts/Apercu-BoldItalic.svg#Apercu-BoldItalic) format("svg");
    font-weight: 700;
    font-style: italic
}

.logo-image {
    max-width: 100%;
    max-height: 30px;
    border-radius: 4px;
  }


/* Portfolio section  */

.portfolio--small {
    /* max-width: 600px; Adjust width to fit between text sentences */
    margin: 0 auto; /* Center align the section */
    padding: 20px 0; /* Adjust padding to reduce space */
  }
  
  .portfolio__title {
    font-size: 1.5rem; /* Smaller title font size */
    margin-bottom: 0.5rem;
  }
  
  .portfolio__subtitle {
    font-size: 1rem; /* Smaller subtitle font size */
    margin-bottom: 1rem;
  }
  
  .portfolio__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Adjust spacing between items */
  }
  
  .portfolio__item {
    background: #333; /* Dark background to match your style */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .portfolio__image {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .portfolio__info {
    margin-top: 10px;
  }
  
  .portfolio__category {
    font-size: 0.8rem;
    color: #aaa;
  }
  
  .portfolio__project-title {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .portfolio__link {
    display: block;
    font-size: 1rem;
    color: #fff;
  }
  
  .portfolio__title-image {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
  }

/* Media query for mobile screens */
@media (max-width: 768px) {
    .portfolio__grid {
      grid-template-columns: 1fr; /* 1 item per row on mobile screens */
    }
  }